.c-section--breadcrumb {
	padding: 1em 0 .5em;
}

.bread-crumb {
	border-radius: 5px;
	@include font-size(12px, 1);
	a {
		color: var(--color-dark-01-60);
	}

	span {
		margin: 0 .5em;

		&.breadcrumb_last {
			color: var(--color-dark);
		}
		&:first-of-type {
			margin-right: 0;
		}
	}

	p {
		margin: 0;
	}
}
