.c-section--contact-info{
    padding-top: 2em;
    padding-bottom: 2em;
}
.c-contact-info {
    background: var(--color-white);
    border-radius: $border-radius;
    display: flex;
    padding: 2em;
    gap: 2em;
	background-color: #f7f8fa;
@include mq($until:md){
    flex-direction: column;
}
    &__item {
        svg {
            height: 20px;
            transform: scaleX(-1);
            vertical-align: middle;
            width: 35px;
        }

        span {
            @include font-size(18px, 1.8);
            color: var(--color-secondary);
            font-weight: 600;
        }

        p {
            @include font-size(16px, 1.8);
            color: var(--color-dark-01-80);
        }
    }
    &__text{
        flex: 1.5;
        position: relative;
		@include mq(desktop){
			&::after{
				content: "";
				top: 0;
				bottom: 0;
				position: absolute;
				border-left: 1px dotted var(--color-grey-02-40);
				left: .5em;
			}
		}
    }
&__gps{
    flex: 3;
}
}
