.c-section--customer-service-btn{
    padding-top: 0;
}

.c-customer-service-btn{
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 1em;
        padding: 0;
        @include mq($until:sm){
            flex-direction: column;
        }
        li{
            background: var(--color-white);
            box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), 0 2px 0 0 rgba(221,228,237,0.5019607843);
            border-radius: $border-radius;
            flex: 1;
            display: flex;
            justify-content: center;
a{
    padding: 1em 0;
    text-align: center;
    width: 100%;
    text-decoration: none;
    span{
        color: var(--color-secondary);
        font-weight: 600;
        @include font-size(18px,1.8);
    }
}
        }
    }
}