.c-section--installment-desc{
	padding: 0 0 4em;
}
.c-installment-desc{
	padding: 0;
    h2{
        color: var(--color-secondary);
		@include font-size(32px,1);
		margin: .5em 0;
		@include mq($until:md){
			@include font-size(24px, 1);
		}
    }
    p{
        @include font-size(16px,1.8);
        color: var(--color-text);
        text-align: justify;
        margin: 0;
		a{
			display: block;
			color: var(--color-secondary);
		}
    }
}
