@font-face {
	font-family: 'Yekan';
	src: url( '../fonts/YekanBakh-300.woff' ) format( 'woff' );
	font-weight: lighter;
}
@font-face {
	font-family: 'Yekan';
	src: url( '../fonts/YekanBakh-400.woff' ) format( 'woff' );
	font-weight: normal;
}
@font-face {
	font-family: 'Yekan';
	src: url( '../fonts/YekanBakh-700.woff' ) format( 'woff' );
	font-weight: bold;
}